{% extends 'Shop/parent/base.html' %}
{% load static %}

{% block title%}
    UserAccount
{% endblock %}

{% block body %}
    <form method="post">
    پسورد قدیمی:
        <br>
    <input type="password" name="old_password">
        <br>
        پسورد جدید:
        <br>
    <input type="password" name="new_password1">
        <br>
        تکرار پسورد جدید:
        <br>
    <input type="password" name="new_password2">
        <br>
        <input type="submit" value="تغیر پسورد">
    {% csrf_token %}
    </form>
    <br>

    {% if error_massage %}
        <script>
            setTimeout(function(){alert("{{ error_massage }}"); },1000);
        </script>

    {% endif %}

    {% if form.errors%}
        <p>لطفا خطاهایه زیر را اصلاح کنید!</p>
    {% endif %}
    {% for field in form %}
        {% if field.errors  %}
            {% for errors in field.errors%}
                {{ field.label }} :
                <br>{{ errors }}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endblock %}