{% load static %}
{% block title %}

{% endblock %}

<head >

  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sign_in.css' %}">
</head>

<body class="align">
<div style="padding-left: 40%">
  <div class="grid align__item">

    <div class="register">

      <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84" viewBox="77.7 214.9 274.7 412"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#8ceabb"/><stop offset="100%" stop-color="#378f7b"/></linearGradient></defs><path fill="url(#a)" d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/></svg>

      <h2>Sign Up</h2>

      <form action="" method="post" class="form">

        <div class="form__field">
          <input type="text"  name="username" placeholder="username">
        </div>

        <div class="form__field">
          <input type="text"  name="first_name" placeholder="first_name">
        </div>

        <div class="form__field">
          <input type="text"  name="last_name" placeholder="last_name">
        </div>

        <div class="form__field">
          <input type="text"  name="phone" placeholder="phone">
        </div>
        <div class="form__field">
          <input type="email" name="email" placeholder="info@mailaddress.com">
        </div>


        <div class="form__field">
            male:
          <input type="radio" name="gender" value="اقا" placeholder="male">
        </div>


        <div class="form__field">
            female:
          <input type="radio" name="gender" value="خانم" placeholder="female">
        </div>

        <div class="form__field">
        <textarea type="text" name="address" placeholder="address"></textarea>
        </div>


        <div class="form__field">
          <input type="password" name="password" placeholder="••••••••••••">
        </div>

        <div class="form__field">
          <input type="password" name="password2" placeholder="••••••••••••">
        </div>

        <div class="form__field">
          <input type="submit" value="Sign Up">
        </div>
        {% csrf_token %}
      </form>

      <p>Already have an accout? <a style="color: #f7f7f7;" href="{% url 'shop:login' %}">Log in</a></p>

    </div>
    {{ error_massage }}
    {% if form.errors%}
        <p>لطفا خطاهایه زیر را اصلاح کنید!</p>
    {% endif %}
    {% for field in form %}
        {% if field.errors  %}
            {% for errors in field.errors%}
                {{ field.label }} :
                <br>{{ errors }}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}

  </div>
</div>




</body>


