{% extends 'Shop/parent/base.html' %}
{% load static %}
{% block title %}garinkod{% endblock %}
{% block head %}
    <!-- Header.css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <!-- Hero_slider.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/hero_slider.css' %}">
    <!-- all_category_product.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/prudact_card.css' %}">
    <!-- mobile_bottom_nav.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile_bottom_nav.css' %}">
    <!-- footer.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
{% endblock %}
{% block body %}{% include 'Shop/parchers/header.html' %}
    <main>{% include 'Shop/parchers/hero_slider.html' %}{% include 'Shop/product/all_category_product.html' %}
    </main>
    {% include 'Shop/parchers/mobile_bottom_nav.html' %}
{% endblock %}