<!DOCTYPE html>
<html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">
</head>
<body>


<form method="post">
{% csrf_token %}
<div class="center" >
  <div class="pagination">
      <span>

          {% if page.has_previous %}
              <a href="?page={{ page.previous_page_number }}">&laquo;</a>
          {% endif %}


      {% for i in page.paginator.page_range %}
            {% if i == page.number %}

                <a href="?page={{ i }}"class="active">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i|truncatewords:10 }}</a>
            {% endif %}
      {% endfor %}


            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">&raquo;</a>
            {% endif %}

      </span>
  </div>
        <br>
      <span>
          page <a href="?page={{ page.number }}">{{ page.number }}</a>
          of <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
      </span>
</div>
</form>
</body>
</html>
