<!DOCTYPE html>
<html>
<head>
<style>
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
</head>
<body>

<h2>Centered Pagination</h2>

<div class="center">
  <div class="pagination">
      <span>

          {% if page.has_previous %}
              <a href="?page={{ page.previous_page_number }}">&laquo;</a>
          {% endif %}


      {% for i in page.paginator.page_range %}
            {% if i == page.number %}

                <a href="?page={{ i }}"class="active">{{ i }}</a>
            {% else %}
                <a href="?page={{ i }}">{{ i|truncatewords:10 }}</a>
            {% endif %}
      {% endfor %}






            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">&raquo;</a>
            {% endif %}

      </span>
  </div>
        <br>
      <span>
          page <a href="?page={{ page.number }}">{{ page.number }}</a>
          of <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
      </span>
</div>

</body>
</html>
