.colors{
    color: green;
}
main {
            padding: 50px;
        }

#boxItems {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 5px 0;
            margin-right: auto;
            direction: rtl;
            padding: 15px;
            border-radius: 15px;
}