
.colors{
    color: sienna;
}
.green{
    color: green;
}
.darkred{
    color: darkred;
}

main {
            padding: 20px;
        }

#ul {
            list-style: none;
            padding: 0;
        }

#boxItems {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 5px 0;
            padding: 15px;
            border-radius: 15px;
            margin-right: auto;
            direction: rtl;


        }

