{% extends 'Shop/parent/base.html' %}
{% load static %}
{% block title%}
    شتراک گذاری پست
{% endblock %}
{% block body %}
    <h1 style="direction: rtl; color: #006b1b;margin-left:auto"> شتراک گذاری پست </h1>
    <p style="direction: rtl;">
    {% if sent %}
        پست {{post.title}} ارسال شد برایع {{form.cleaned_data.to}}
    {% endif %}
    </p>
<div id="box">
<form method="post" >
    {% csrf_token %}
    <div id="box">
        {{ form.as_p }}
    </div>
    <input type="submit" value="اشتراک گذاری">
    <br><br><br><br>
    <a id="box" href = "{%url "shop:product_detail" post.slug post.id %}">
         بازگشت
    </a>
</form>
</div>



    {% for field in form %}
        {% if field.errors  %}
            {% for errors in field.errors%}
                {{ field.label }} :
                <br>{{ errors }}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}