{% extends 'Shop/parent/base.html' %}
{% load static %}

{% block title %}
detail
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
    <script>
    window.addEventListener("beforeunload", function(event) {
      var form = document.getElementById("myForm");
      if (form.hasBeenSubmitted !== true) {
        event.preventDefault(); // جلوگیری از بسته شدن صفحه
        event.returnValue = ''; // برای نمایش پیام هشدار
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
      var form = document.getElementById("myForm");

      form.addEventListener("submit", function(event) {
        form.hasBeenSubmitted = true; // نشان دادن اینکه فرم ارسال شده است
        // ارسال داده‌ها به سرور یا انجام عملیات دیگر
        console.log("Form submitted");
      });
    });
    </script>


{% endblock %}


{% block body %}
    <div id="boxItems" >
        <form method="post" action="{% url 'shop:search' %}">
            {% csrf_token %}
                <div class="search_box">
                    <div class="box-sizing: border-box;">
                        <input type="submit" name="search" value="serach">
                    </div>
                    <div>
                        <input type="text" name="text_input" value="{{ search_value }}">
                    </div>
                </div>
        </form>
    </div>
    <h1 style="direction: rtl; color: #006b1b;margin-left:auto; padding: 5px;">توضیحات پست</h1>
        <main>
            <div id="boxItems">

                <h2 id="boxItems"> نام محصول : {{ post.title }} </h2>
                <h3 id="boxItems"> توضیحات : {{ post.body }} </h3>
                <h3 id="boxItems"> قیمت : {{ post.price }} </h3>
                 <h4 id="boxItems"> نویسنده : {{ post.author }} </h4>
                <h4 id="boxItems" class="colors"> وضعیت انتشار : {{ post.status }} </h4>
                <div id="boxItems">

                <h1 style="direction: rtl; color: #006b1b;margin-left:auto; padding: 5px;">کامنت ها</h1>
                    {% with comments.count as count %}
                           تعداد کامنت ها : {{ count }}
                            <br>
                        <div id="boxItems">

                                {% for comment in comments %}

                                نام :  {{ comment.name }}
                                    <br>
                                        کامنت {{ forloop.counter }} : {{ comment.body }}
                                    <br>
                                    {% empty %}
                                <p>کامنتی وجود ندارد!</p>

                            {% endfor %}

                        </div>
                    {% endwith %}
                    <div id="boxItems">
                        {% if new_comment %}
                        <p>کامنت ارسال شد</p>
                            <br>
                            <form id="myForm" method="post" >
                                <h1 style="direction: rtl; color: #006b1b;margin-left:auto; padding: 5px;">افزودن کامنت</h1>
                                {% csrf_token %}
                                    <P>نام:</P>
                                    <input type="text" value="" name="name">
                                        <br>
                                    <P>پیام:</P>
                                    <input class="text" type="text" value="" name="body">
                                <br>
                                <input id="boxItems" type="submit" value="ارسال">
                            </form>
                        {% else %}
                            <form method="post" >
                                <h1 style="direction: rtl; color: #006b1b;margin-left:auto; padding: 5px;">افزودن کامنت</h1>
                                {% csrf_token %}
                                    <P>نام:</P>
                                    <input type="text" value="" name="name">
                                        <br>
                                    <P>پیام:</P>
                                    <input class="text" type="text" value="" name="body">
                                <br>
                                <input id="boxItems" type="submit" value="ارسال">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        <a id="boxItems" href = "{% url "shop:Share_post" post.id %}">
            اشتراک گذاری پست
        </a>
    {% for field in form %}
        {% if field.errors  %}
            {% for errors in field.errors%}
                {{ field.label }} :
                    <br>
                {{ errors }}<br>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
