{% extends 'Shop/parent/base.html' %}
{% load static %}

{% block title %}
    Items
{% endblock %}



{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
{% endblock %}


{% block body %}
<h1 class="darkred"> لیست پست ها</h1>
{% for Item in Items %}
    <a href="{{ Item.get_absolute_utl }}">
        <h2 class="colors"> {{ Item.author }} : {{ Item.title }} : <h4 class="green"> {{ Item.status }} </h4> </h2>

    </a>

{%endfor%}
    {% include 'Shop/parchers/pagination.html' with page=Items%}
    <img src="{% static 'images/f7083aea-f8c6-4963-9e46-e00df4418f8d.jpg' %}">
{% endblock %}